.foot {
  background: rgb(53, 190, 168);
  text-align: left;
  bottom: 0;
  margin: 0;
  height: 70px;
  margin-bottom: none;
}
.foot h2 {
  padding: 14px;
  color: white;
  font-style: italic;
  margin-left: 50px;
}
