.heading{
    background: rgb(73, 183, 69);
    text-align: center;
    height: 100px;
    justify-items: center;
    margin-top: 0;
    padding-top:0;
}
.heading h1{
    color: white;
    font-weight: bolder;
    line-height: normal;
letter-spacing: 1px;

font-size: 4rem;
}