.heading{
    background: rgb(14, 166, 196);
    text-align: center;
    height: fit-content;
    justify-items: center;
    margin-top: 0px;
    padding-top:5px;
    padding-bottom: 5px;
}
.heading h1{
    color: white;
    font-weight: bolder;
    line-height: normal;
letter-spacing: 1px;

font-size: 4rem;
}