.navi {
  background: rgba(0, 0, 0, 0.845);
  color: white;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 1px;
  list-style: none;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}
.list li {
  padding: 3px 6px;
  
}
.list a {
  text-decoration:none;
  font-size: 1.3rem;
  color: var(--color-primary-400);
}

.list a:hover,
.list a:active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
.Logout_action {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #06b5bbf9;
  border: 1px solid #06b5bbf9;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;

}
.Logout_action {
  background-color: #06b5bbf9;
  border-color: #06b5bbf9;
}
