.modal{
    top:60px;
    position: fixed;
    right:10px;
    background:white;
    border:1px solid black;
    width:30%;
    height:90%;
    text-align: center;
    border:2px solid rgb(12, 136, 185);
    border-radius: 5px;
    padding: 5px;
}